<ion-content [fullscreen]="true" class="ion-padding">

  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button href="/" size="small" color="light">
      <ion-icon name="arrow-back"></ion-icon>
      <ion-back-button icon="add"></ion-back-button>
    </ion-fab-button>
  </ion-fab>

  <div id="container">
    <br>
    <br>
    <h1>
      Dates
    </h1>
    <p>Below are calendar dates based on the availability of you and your peers.</p>
    <hr>



    <div class="ion-padding-bottom">
      <h1 class="ion-text-start" style="font-size:xx-large;">
        Available
      </h1>
      <ion-card mode="ios" class="ion-no-margin ion-margin-bottom" *ngFor="let date of dates">
        <ion-list class="ion-margin-top">
          <ion-item>
            <ion-icon slot="start" name="today-outline"></ion-icon>
            <ion-label class="ion-text-wrap">
              {{(date | date:'MMMM d, y - EEEE') || 'No calendar dates'}}
              <br>
              Available to attend: {{availableUsersForThisDate(date)}}
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card>
    </div>


  </div>
</ion-content>
