<ion-header mode="ios">
  <ion-toolbar mode="md" color="none">
    <ion-title style="font-size: small;">
      {{(date | date:'MMMM d, y - EEEE') || 'No calendar dates'}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="ctrl.dismiss();">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let user of users">
    <ion-item mode="ios" color="light" lines="none">
      <ion-icon name="person-circle-outline" slot="start" size="small"></ion-icon>
      <ion-label style="font-size: x-small;">
        <ion-note>
  
          {{user?.displayName}}
        </ion-note>
      </ion-label>
    </ion-item>
  </ion-card>
</ion-content>