<ion-content class="ion-padding">

  <h1>Admin</h1>

  <ion-card mode="ios" class="ion-no-margin">
    <ion-list>
      <ion-item *ngFor="let user of (users$|async)">
        <ion-icon slot="start" name="person-circle-outline"></ion-icon>
        <ion-label>
          {{user?.displayName}}
          <br>
          <ion-note class="n">
            PD:
            <span *ngFor="let days of user?.preferedDays">
              {{days}}
            </span>
            <br>
            PT:
            <span *ngFor="let times of user?.preferedTimes">
              {{times}}
            </span>
            <br>
            ED:
            <span *ngFor="let dates of user?.excludeDates">
              {{dates}}
            </span>
          </ion-note>
        </ion-label>
        <ion-button slot="end" fill="clear" (click)="removeUser(user.uid)">
          <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
