<ion-content [fullscreen]="true" class="ion-padding">


  <div id="container">
    <h1>
      Korean BBQ Meet-up
    </h1>
    <p>No personal data required. Sessions are maintained through cookies.</p>
    <hr>
    <div class="ion-padding-bottom">
      <h1 class="ion-text-start" style="font-size:xx-large;">Profile</h1>
      <ion-list class="ion-margin-top">
        <ion-item>
          <ion-icon slot="start" name="person-outline"></ion-icon>
          <ion-input autocapitalize="words" placeholder="Your Name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="chatbubbles-outline"></ion-icon>
          <ion-input autocapitalize="sentences" placeholder="Something you want to mention"></ion-input>
        </ion-item>
      </ion-list>
    </div>


    <div class="ion-padding-bottom">
      <h1 class="ion-text-start" style="font-size:xx-large;">Preferences</h1>
      <ion-list class="ion-margin-top">
        <ion-item>
          <ion-icon slot="start" name="calendar-outline"></ion-icon>
          <ion-label>Prefered Days</ion-label>
          <ion-select mode="ios" multiple="true" placeholder="Choose" okText="Okay" cancelText="Dismiss">
            <ion-select-option value="Sunday" [disabled]="true">Sunday</ion-select-option>
            <ion-select-option value="Monday">Monday</ion-select-option>
            <ion-select-option value="Tuesday">Tuesday</ion-select-option>
            <ion-select-option value="Wednesday">Wednesday</ion-select-option>
            <ion-select-option value="Thursday">Thursday</ion-select-option>
            <ion-select-option value="Friday">Friday</ion-select-option>
            <ion-select-option value="Saturday" [disabled]="true">Saturday</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="alarm-outline"></ion-icon>
          <ion-label>Prefered Time</ion-label>
          <ion-select mode="ios" multiple="true" placeholder="Choose" okText="Okay" cancelText="Dismiss">
            <ion-select-option value="morning">Morning</ion-select-option>
            <ion-select-option value="afternoon">Afternoon</ion-select-option>
            <ion-select-option value="evening">Evening</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="storefront-outline"></ion-icon>
          <ion-label>K-BBQ Spots</ion-label>
          <ion-select mode="ios" multiple="true" placeholder="Choose" okText="Okay" cancelText="Dismiss">
            <ion-select-option value="CM">Clairemont Mesa</ion-select-option>
            <ion-select-option value="KM">Kearny Mesa</ion-select-option>
            <ion-select-option value="KM2">Kearny Mesa 2</ion-select-option>
            <ion-select-option value="LM">La Mesa</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </div>
    <!-- <ion-button></ion-button> -->
  </div>

</ion-content>
